img{
	max-width: 100%;
}

body{
	font-family: sans-serif;
}

#youtube-wrapper{
	/* set a gutter on both sides of the wrapper */
	margin: auto 40px;
}

#header{
	/* set the height */
	height: 50px;
	/* set the line height so that our text is vertically centered */
	line-height: 50px;
	/* set a border for the bottom line */
	border-bottom: 1px solid black;
}

#nav{
	border-bottom: 1px solid black;
	padding-bottom: 15px;
}

#header h1{
	font-size: 20px;
	font-weight: bold;
}

#logo, #search-nav, #account-container{
	display: inline-block;
}

#logo{
	width: 20%;
	margin-top: 25px;
}

#logo img{
	max-width: 150px;
}

#search-nav{
	width: 50%;
}

/* #search-nav .search-text{
	width: 70%;
}

#search-nav .search-button{
	width: 18%;
} */

#search-container{
	margin-bottom: 25px;
}

#search-nav input[type=text]{
	width: 340px;
}

#nav-bar ul li{
	/* put all lis on the same line */
	display: inline-block;
	/* put a line on the right side */
	border-right: 1px solid black;
	/* get some space between li and border on both sides */
	padding-right: 20px;
	padding-left: 10px;
	font-size: 18px;
	/* add a line underneath each li */
	text-decoration: underline;
}

/* target the last child only */
#nav-bar ul li:last-child{
	border: none;
}

#account-container{
	width: 18%;
	text-align: right;
}

#account-links{
	margin-top: 25px;
}

#account-links ul li{
	display: inline-block;
	padding-right: 10px;
}

#account-links ul li:last-child{
 	padding-right: 0px;
}